# Claves WireGuard
*.key
*.pem
privatekey
publickey

# Variables de entorno con secretos
.env
*.env
!*.env.example

# Cloudflare API tokens
cloudflare.ini
secrets/

# Tokens de bots, APIs...
config.json           

# Otros
.cl*