# Claves WireGuard
*.key
*.pem
privatekey
publickey

# Variables de entorno con secretos
.env
*.env
!*.env.example        # Los .example SÍ se commitean como plantilla

# Cloudflare API tokens
cloudflare.ini
secrets/

# Tokens de bots, APIs...
config.json           # Si contiene secretos
